
{% include 'header.html' %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('{{post.img}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.city.title()}}</h1>
            <span class="meta">Posted by
              <a href="#"><em>{{post.author}}</em></a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3>{{post.name.title()}}</h3>
          <p>
            {{post.info}}
          </p>
          </div>
      </div>


    </div>
  </article>

  <hr>
<!--images -->
<div class="container-image">
  <div class="row">
  <div class="col-lg-8 col-md-8 ">
  </div>
  </div>
</div>
       {%include 'images.html'%}
{% include 'footer.html' %}